<section class="row g-4">
  <stats class="col-12 d-none d-sm-block"/>

  <div class="col-12">
    <div class="row g-4">
      <most-leads class="col-12 col-lg-4"/>
      <country-stats class="col-12 col-lg-4"/>
      <div class="col-12 col-lg-4">
        <div class="row g-4">
          <tasks-stats class="col-6 col-sm-12"/>
          <earning-reports class="col-6 col-sm-12"/>
        </div>
      </div>
    </div>
  </div>


  <top-customers class="col col-lg-5" />
  <recent-leads class="col col-lg-7"/>

  <to-do-list class="col col-sm-8" />
  <div class="col col-sm-4">
    <div class="row g-4">
      <client-payment-status class="col-6 col-sm-12" />
      <total-leads class="col-6 col-sm-12" />
    </div>
  </div>

</section>
