<section styleSection>
  <title-section title="Exclusive Product Offer on Facebook - Limited Time Only!">
    <buttons-list-email #altContent/>
  </title-section>
  <div class="info">
    <div class="users my-4 d-flex justify-content-between align-items-end">
      <avatar-with-info [data]="{img:'https://angular.hibootstrap.com/daxa/images/users/user1.jpg', title:'Micheal Collins', subtitle:'From: daxa@gmail.com'}" />
      <div class="time">
        20 Nov, 2024
      </div>
    </div>
    <div class="content ms-5" [innerHTML]="content"></div>
  </div>
  <div class="action">
    <button mat-flat-button matRipple class="me-3">replay</button>
    <button mat-flat-button matRipple>forward</button>
  </div>
</section>
