<section styleSection>
  <div class="title">
    <title-section title="student's progress">
      <menu-list #altContent />
    </title-section>
  </div>
  <div class="table">
    <div class="scroll-x">
      <table mat-table [dataSource]="dataSource">

        <mat-text-column name="id" [dataAccessor]="getId"/>
        <mat-text-column name="name"/>
        <mat-text-column name="courseName" [headerText]="'course name'"/>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef>progress</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <app-progress-bar [indexColor]="i" [percentage]="element.progress"/>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator
    [pageSizeOptions]="[6, 12, 18]"
    class="mat-paginator">
  </mat-paginator>
  </div>
</section>
