<section styleSection>
<title-section title="working schedule"/>
<mat-calendar [(selected)]="selected"></mat-calendar>
  <div class="events">
    <div class="title">events</div>
    <ul>
      <li>
        Project Daxa milestone 1 due next week.
        <div class="time">
          <span>November 21 </span>
          (10:00 - 11:00 AM)
        </div>
      </li>
      <li>
        Project Daxa milestone 1 due next week.
        <div class="time">
          <span>November 21 </span>
          (10:00 - 11:00 AM)
        </div>
      </li>
      <li>
        David Doe is assigned to lead the development phase starting on 02 Dec. Please coordinate with other team members.
        <div class="time">
          <span>November 21 </span>
          (10:00 - 11:00 AM)
        </div>
      </li>
      <li>
        Client meeting scheduled for 13Dec. Prepare project update presentation and gather any client-specific requirements.
        <div class="time">
          <span>December 13</span>
          (03:00 PM)
        </div>
      </li>
      <li>
        Team training session scheduled for 20Dec to introduce new tools. Ensure all team members attend.
        <div class="time">
          <span>December 20</span>
          (12:00 AM)
        </div>
      </li>
    </ul>
    <div class="button">
      <button class="float-end" matRipple>+ Add New Event</button>
    </div>
  </div>
</section>
