<section styleSection class="d-sm-flex  align-items-center justify-content-center d-xl-block">
  <div class="img">
    <img src="https://angular.hibootstrap.com/daxa/images/admin.png" alt="profile-img">
    <h2>mateo luca</h2>
    <span class="email">hello&#64;mateo.com</span>
  </div>
  <div class="details">
    <div class="title">
      Details
    </div>
    <ul class="row">
      <li class="col-sm-6 col-xl-12">
        <span>Account ID</span><br>
        ID-12174123
      </li>
      <li class="col-sm-6 col-xl-12">
        <span>Billing Email</span><br>
          hello&#64;luca.com
      </li>
      <li class="col-sm-6 col-xl-12">
        <span>Delivery Address</span><br>
        715 Maple St, Hamletville, England
      </li>
      <li class="col-sm-6 col-xl-12">
        <span>Language</span><br>
        English, Spanish
      </li>
      <li class="col-sm-6 col-xl-12">
        <span>Latest Transaction</span><br>
        #ARP-1217
      </li>
    </ul>
  </div>
</section>
