<section styleSection>
  <title-section title="Project monitoring">
    <span #altContent>3 days left</span>
  </title-section>
  <p class="content">This column represents tasks that have been identified but are not yet scheduled for work.</p>

  <span class="category">Design</span>

  <div class="footer mt-4 d-flex justify-content-between">
    <span class="date d-flex align-items-center">
      <mat-icon class="me-2">schedule </mat-icon>
      Created 18 Nov
    </span>
    <ul class="user-list d-flex">
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user9.jpg" alt="">
      </li>
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user8.jpg" alt="">
      </li>
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user7.jpg" alt="">
      </li>
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user6.jpg" alt="">
      </li>
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user5.jpg" alt="">
      </li>
      <li>
        <img src="https://angular.hibootstrap.com/daxa/images/users/user4.jpg" alt="">
      </li>
    </ul>
  </div>
</section>
