section {
  .header{
    .icon{
      mat-icon{
        font-size: 80px;
        width: 80px;
        height: 80px;
        color: var(--warningColor);
      }
      span{
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .footer{
    color: var(--bodyColor);
  }
}
