<ul class="chat-room">
  <li class="chat d-flex">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li>
        Lorem ipsum dolor sit amet. 🔥
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li>
  <li class="chat d-flex flex-row-reverse">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li>
  <!-- <li class="chat d-flex">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li>
        Lorem ipsum dolor sit amet. 🔥
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li>
  <li class="chat d-flex flex-row-reverse">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li>
  <li class="chat d-flex">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li>
        Lorem ipsum dolor sit amet. 🔥
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li>
  <li class="chat d-flex flex-row-reverse">
    <div class="img">
      <img src="https://angular.hibootstrap.com/daxa/images/users/user12.jpg" alt="" width="40" height="40">
    </div>
    <ul class="message">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra ligula non varius curabitur etiam malesuada.
      </li>
      <li class="time">
        09:21 AM
      </li>
    </ul>
  </li> -->
</ul>
