<section styleSection >
  <div class="row">
    <card-stats class="col-6 col-xxl-3" title="new users" stats="705">
      <app-chart [color]="['#ffb264']" [data]="[[20,60,40,100]]" [size]="{w:150,h:100}"/>
    </card-stats>

    <card-stats class="col-6 col-xxl-3" title="active users" stats="94,817">
      <app-chart [data]="[[100,40,60,20]]"  [size]="{w:150,h:100}"/>
    </card-stats>

    <card-stats class="col-6 col-xxl-3" title=" l. conversation" stats="25.99%">
      <app-chart [color]="['#796df6']" curve="stepline" [data]="[[100,100,40,40,70,10]]"  [size]="{w:150,h:100}"/>
    </card-stats>

    <card-stats class="col-6 col-xxl-3 separate" title="revenue growth" stats="$1,207">
      <app-chart [color]="['#26d2e7']" [data]="[[100,120,60,150,80,100,180]]" type="bar"  [size]="{w:150,h:100}"/>
    </card-stats>
  </div>


</section>
