<section>
  <app-rate [rate]="5"/>
  <div class="comment">
    Risus nulla amet facilisis eu metus nulla. Nisi interdum nec in lectus amet dis. Pulvinar ut vulputate odio venenatis id urna. Nullam elementum id egestas aliquet leo potenti pellentesque vel tortor. Varius integer facilisi vestibulum ante scelerisque adipiscing at turpis ultricies. Ullamcorper dui in in ultricies sodales in sapien. Elit lectus tincidunt tempus platea praesent. Mi dignissim faucibus fringilla egestas.
  </div>
  <avatar-with-info [data]="{img:'https://angular.hibootstrap.com/daxa/images/users/user1.jpg',title:'Mark Stjohn'}"/>
</section>
