<section class="row g-5" styleSection>
  <div class="imgs col-12 col-lg-5">
    <div class="img-main">
      <img src="https://angular.hibootstrap.com/daxa/images/products/product-details3.jpg" alt="">
    </div>
    <ul class="d-flex">
      <li><img src="https://angular.hibootstrap.com/daxa/images/products/product-details1.jpg" alt=""></li>
      <li><img src="https://angular.hibootstrap.com/daxa/images/products/product-details1.jpg" alt=""></li>
      <li><img src="https://angular.hibootstrap.com/daxa/images/products/product-details3.jpg" alt=""></li>
      <li><img src="https://angular.hibootstrap.com/daxa/images/products/product-details4.jpg" alt=""></li>
    </ul>
  </div>
  <div class="details col-12 col-lg-7 d-flex  align-items-center align-items-lg-end px-5">
    <ul>
      <li class="title">Luxury Rendering</li>
      <li class="price"><b>$75.00</b><s>$90.00</s></li>
      <li class="rate"><app-rate [rate]="4"/></li>
      <li class="description">Auctor in nam malesuada auctor ultrices proin condimentum leo cras. Ultrices a quam massa tincidunt dictum luctus cursus. Est eleifend nam hendrerit ultricies elit montes. Molestie blandit orci viverra arcu vitae integer pharetra.
        <br>
        100% Original Products
        <br>
        Easy 15 days returns and exchanges
      </li>
      <li class="add-to-cart d-flex align-items-center">
        <quantity-counter/>
        <button class="action">add to cart</button>
      </li>
      <li class="info">
        Category: <span>Jewellery</span><br>
        SKU: <span>APR 517</span><br>
        Vendor: <span>Michael Shelton</span><br>
        Availability: <span>In stock 20 items</span>
      </li>
    </ul>
  </div>
  <description-and-review class="col-12"/>
</section>
