<div styleSection>
  <title-section title="revenue: $5,999.50">
    <menu-list #altContent />
  </title-section>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [colors]="chartOptions.colors"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [grid]="chartOptions.grid"
    >
  </apx-chart>
</div>
