section{
  margin-top: 10px;
  padding-inline: 15px;
  .img{
    width: 50px;
    height: 32px;
    margin-inline-end: 10px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .type{
    width: 100%;
    line-height: 1.2;
    font-size: 14px;
    > b{color: var(--bodyColor);}
  }
}
