.my-progress {
  font-size: 14px;
  color: var(--bodyColor);
  height: 30px;
  min-width: 50px;
  gap:5px;
  padding-inline: 2px;
  .percentage{
    margin-inline-end: auto;
  }
  .progress-bar{
    width: 100%;
    height: 4px;
    background-color: #cdcfd3;
    span{
      display: block;
      height: 100%;
    }
  }
}
