<section class="row g-4">
  <projects-overview class="col-12 col-md-6"/>
  <projects-roadmap class="col-12 col-md-6"/>

  <all-projects class="col-12 col-md-8" />
  <projects-progress class="col-12 col-md-4" />

  <working-schedule class="col-12 col-md-4" />
  <div class="col-12 col-md-8">
    <div class="row g-4">
      <projects-analysis class="col-12 col-sm-6" />
      <chat-projects-user class="col-12 col-sm-6" />
      <to-do-list class="col-12"/>
    </div>
  </div>
  <active-project class="col-12 col-sm-8" />
  <team-members class="col-12 col-sm-4" />
</section>
